# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment files and directories
.venv/
.env/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore VSCode directories
.vscode/

# Ignore log files
*.log

# Ignore any other unneeded files
*.zip
