# Hapus aturan yang mengabaikan file .ipynb atau folder terkait
*.ipynb

# Tambahkan pengecualian untuk file ini
!Desktop/Cat and Dog Image Classifier/firman_fcc_cat_dog.ipynb

.bash_history
.ipynb_checkpoints/
.vscode/
*.log
*.zip
